---
const categoriasEmpresa = [
  'EMPRESA DIGITAL',
  'EMPRESA BANCARIA O FINANCIERA',
  'BILLETERA DIGITAL',
  'E- COMMERCE',
  'IOT- APLICACIÓN DE SERVICIOS',
  'SALUD Y MEDICINA',
  'ESTUDIOS CIENTÍFICOS O LABORATORIOS',
  'ATENCIÓN A CLIENTES',
  'PROVEEDORES DE SERVICIOS DIGITALES',
  'TELEMARKETING',

]

const serviciosPrestados = [
  'RECURSOS HUMANOS',
  'CONTABILIDAD',
  'PROVEEDOR DE NUBE',
  'DATABASE',
  'ALMACENAMIENTO',
  'OTROS'
]
---

<head>
  <script type="module" src='/src/scripts/formulario.js ' defer is:inline></script>
</head>

<section
  class='mx-auto max-w-3xl rounded-lg bg-white p-6 shadow-md dark:bg-gray-800'
>
  <h2 class='mb-4 text-2xl font-semibold text-gray-800 dark:text-white'>
    Formulario de Tratamiento de Datos
  </h2>
  <form id='datosTratamiento' action='/submit' method='post' class='space-y-6'>
    <div class='mb-4'>
      <label
        for='responsable-nombre'
        class='block text-sm font-medium text-gray-700 dark:text-gray-200'
        >Responsable del Tratamiento (Puede ser 1 o más)</label
      >
      <input
        type='text'
        id='responsable-nombre'
        name='responsable-nombre'
        class='mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm'
        placeholder='Nombre o Razón Social'
        required
      />
    </div>
    <div class='mb-4'>
      <label
        for='responsable-cuit'
        class='block text-sm font-medium text-gray-700 dark:text-gray-200'
        >CUIT/NIF</label
      >
      <input
        type='text'
        id='responsable-cuit'
        name='responsable-cuit'
        class='mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm'
        required
      />
    </div>
    <div class='mb-4'>
      <label
        for='responsable-domicilio'
        class='block text-sm font-medium text-gray-700 dark:text-gray-200'
        >Domicilio Legal</label
      >
      <input
        type='text'
        id='responsable-domicilio'
        name='responsable-domicilio'
        class='mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm'
        required
      />
    </div>
    <div class='mb-4'>
      <label
        for='responsable-correo'
        class='block text-sm font-medium text-gray-700 dark:text-gray-200'
        >Correo Electrónico</label
      >
      <input
        type='email'
        id='responsable-correo'
        name='responsable-correo'
        class='mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm'
        required
      />
    </div>
    <div class='mb-4'>
      <label
        for='responsable-telefono'
        class='block text-sm font-medium text-gray-700 dark:text-gray-200'
        >Teléfono</label
      >
      <input
        type='tel'
        id='responsable-telefono'
        name='responsable-telefono'
        class='mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm'
        required
      />
    </div>
    <div class='mb-4'>
      <label
        for='responsable-delegado'
        class='block text-sm font-medium text-gray-700 dark:text-gray-200'
        >Datos del Delegado de Protección de Datos (Si tiene)</label
      >
      <textarea
        id='responsable-delegado'
        name='responsable-delegado'
        rows='3'
        class='mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm'
        placeholder='Ingrese los datos del delegado'></textarea>
    </div>
    <div class='mb-4'>
      <label
        for='finalidad-tratamiento'
        class='block text-sm font-medium text-gray-700 dark:text-gray-200'
        >¿Cuál es la finalidad del tratamiento?</label
      >
      <textarea
        id='finalidad-tratamiento'
        name='finalidad-tratamiento'
        rows='3'
        class='mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm'
        required></textarea>
    </div>
    <div class='mb-4'>
      <label
        for='rubro'
        class='block text-sm font-medium text-gray-700 dark:text-gray-200'
        >Rubro</label
      >
      <select
        id='rubro'
        name='rubro'
        class='mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm'
        required
      >
        {
          categoriasEmpresa.map((categoria) => (
            <option value={categoria}>{categoria}</option>
          ))
        }
      </select>
    </div>
    <div class='mb-4'>
      <label
        for='encargado-nombre'
        class='block text-sm font-medium text-gray-700 dark:text-gray-200'
        >Encargado del Tratamiento (Pueden ser 1 o más)</label
      >
      <input
        type='text'
        id='encargado-nombre'
        name='encargado-nombre'
        class='mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm'
        placeholder='Nombre o Razón Social'
        required
      />
    </div>
    <div class='mb-4'>
      <label
        for='encargado-cuit'
        class='block text-sm font-medium text-gray-700 dark:text-gray-200'
        >CUIT/NIF</label
      >
      <input
        type='text'
        id='encargado-cuit'
        name='encargado-cuit'
        class='mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm'
        required
      />
    </div>
    <div class='mb-4'>
      <label
        for='encargado-domicilio'
        class='block text-sm font-medium text-gray-700 dark:text-gray-200'
        >Domicilio Legal</label
      >
      <input
        type='text'
        id='encargado-domicilio'
        name='encargado-domicilio'
        class='mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm'
        required
      />
    </div>
    <div class='mb-4'>
      <label
        for='encargado-correo'
        class='block text-sm font-medium text-gray-700 dark:text-gray-200'
        >Correo Electrónico</label
      >
      <input
        type='email'
        id='encargado-correo'
        name='encargado-correo'
        class='mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm'
        required
      />
    </div>
    <div class='mb-4'>
      <label
        for='encargado-telefono'
        class='block text-sm font-medium text-gray-700 dark:text-gray-200'
        >Teléfono</label
      >
      <input
        type='tel'
        id='encargado-telefono'
        name='encargado-telefono'
        class='mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm'
        required
      />
    </div>
    <div class='mb-4'>
      <label
        for='encargado-delegado'
        class='block text-sm font-medium text-gray-700 dark:text-gray-200'
        >Datos del Delegado de Protección de Datos (Si tiene)</label
      >
      <textarea
        id='encargado-delegado'
        name='encargado-delegado'
        rows='3'
        class='mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm'
        placeholder='Ingrese los datos del delegado'></textarea>
    </div>
    <div class='mb-4'>
      <label
        for='servicios-prestados'
        class='block text-sm font-medium text-gray-700 dark:text-gray-200'
        >¿Qué servicios presta?</label
      >
      {
        serviciosPrestados.map((servicio) => (
          <div class='mb-2 flex items-center'>
            <input
              id={servicio}
              name='servicios-prestados'
              type='checkbox'
              value={servicio}
              class='h-4 w-4 rounded border-gray-300 text-primary-600 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600'
            />
            <label
              for={servicio}
              class='ml-2 block text-sm text-gray-900 dark:text-gray-300'
            >
              {servicio}
            </label>
          </div>
        ))
      }
    </div>
    <button
      type='submit'
      class='mt-4 w-full rounded-lg bg-primary-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:w-auto'
    >
      Enviar
    </button>
  </form>
</section>
